@import "tailwindcss";

@import "./tailwind.config.css";

body,
.model {
  background: linear-gradient(0deg, var(--color-violet-6, #0E0918) 0%, var(--color-violet-6, #0E0918) 100%), var(--color-white-solid, #FFF);
}

.transition {
  transition: all 0.3s ease-in-out !important;
}


button {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

span.ripple {
  position: absolute !important;
  border-radius: 50%;
  transform: scale(0);
  z-index: 11;
  animation: ripple 600ms linear;
  background-color: rgba(255, 255, 255, 0.199);
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

.btn-secondary {
  position: relative;
  border-radius: 8px;
  background: radial-gradient(60% 65.07% at 100% 50%, rgba(255, 255, 255, 0.50) 0%, #292931 90%);
}

.btn-secondary::after {
  content: "";
  position: absolute;
  left: 1px;
  top: 1px;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  border-radius: 8px;
  background: var(--color-violet-6, #0E0918);

}

.btn-secondary::before {
  content: "";
  position: absolute;
  left: 1px;
  top: 1px;
  z-index: 11;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: linear-gradient(180deg, var(--color-violet-510, rgba(124, 101, 161, 0.00)) 70%, var(--color-violet-5138, rgba(124, 101, 161, 0.38)) 100%, var(--color-violet-510, rgba(124, 101, 161, 0.00)) 100%);
  filter: blur(2.5px);
}