@import "tailwindcss";

@import "./tailwind.config.css";

body {
  background: linear-gradient(0deg, var(--color-violet-6, #0E0918) 0%, var(--color-violet-6, #0E0918) 100%), var(--color-white-solid, #FFF);
}

button {
  cursor: pointer;
}

.transition {
  transition: all 0.3s ease-in-out !important;
}