* {
    text-decoration: none;
    list-style: none;
    outline: none;
}

@theme {
    --color-blue-haze: #C4BBD3;
    --color-silver-chalice: #A3A3A3;
    --color-whisper-75: #FAF9FB;
    --color-mid-gray: #64616B;
    --color-violet-6: #0E0918;
    --color-mercury: #E4E4E4;
    --color-magenta: #190918;

    --gradient: radial-gradient(80% 73.3% at 100% 50%, #FFF 0%, #FF9B26 90%);
}

.container {
  @apply mx-auto px-2 sm:px-4 lg:px-6;
}